<h1>TV Shows</h1>

<table class="table table-hover">
  <thead>
    <th>Label</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let s of shows | async" (click)="showDetails(s)">
      <td>{{s.name}}</td>
      <td><button class="btn btn-danger" (click)="delete(s)">Delete</button></td>
    </tr>
  </tbody>
</table>
