<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <app-tvshows></app-tvshows>
      <app-add-show></app-add-show>
    </div>
    <div class="col-12 col-md-6">
      <app-show-details></app-show-details>
    </div>
  </div>
</div>
